@font-face {
  font-family: "AlwynNew";
  font-style: normal;
  font-weight: 100
}

@font-face {
  font-family: "AlwynNew";
  font-style: normal;
  font-weight: 400
}

@font-face {
  font-family: "AlwynNew";
  font-style: normal;
  font-weight: 600
}

@font-face {
  font-family: "AlwynNew";
  font-style: italic;
  font-weight: 300
}

@font-face {
  font-family: "AlwynNew";
  font-style: normal;
  font-weight: 700
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1c243b;
  font-family: "AlwynNew", "Helvetica Neue", -apple-system, sans-serif
}

#root, body {
  height: 100vh;
  overflow: hidden
}

#root {
  display: flex;
  justify-content: center
}

a {
  color: #2ae8f0;
  text-decoration: none
}

.RoundedInput {
  background-color: #404c6e;
  height: 50px;
  color: #fff;
  border-radius: 4px;
  border: none;
  outline: none;
  font-size: 17px;
  width: 100%;
  padding-left: 12px;
  padding-right: 12px;
  margin-bottom: 20px;
  font-family: "AlwynNew", "Helvetica Neue", -apple-system, sans-serif;
  box-sizing: border-box
}

.RoundedInput:last-of-type {
  margin-bottom: 2px
}

.RoundedInput::-webkit-input-placeholder {
  color: #92a2d6;
  opacity: 1
}

.RoundedInput:-ms-input-placeholder {
  opacity: 1
}

.RoundedInput::-ms-input-placeholder {
  opacity: 1
}

.RoundedInput::placeholder {
  color: #92a2d6;
  opacity: 1
}

.RoundedInput:-ms-input-placeholder {
  color: #92a2d6
}

.RoundedInput::-ms-input-placeholder {
  color: #92a2d6
}

.InputError {
  font-size: 15px;
  font-weight: 600;
  text-align: left;
  line-height: 20px;
  color: #ff1d25;
  min-height: 20px
}

.FormSectionTitle {
  font-size: 24px;
  font-weight: 100;
  color: #fff;
  margin-bottom: 15px
}

.FormColumns {
  display: flex;
  flex-direction: row;
  margin-left: -6px;
  margin-right: -6px
}

.FormColumn {
  display: flex;
  flex-direction: column;
  flex: 50% 1;
  margin-left: 6px;
  margin-right: 6px;
  max-width: calc(50% - 12px)
}

.App {
  display: flex;
  flex-direction: column;
  max-width: 1100px;
  height: 100%;
  width: 100%
}

.NavBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #1c243b;
  height: 100px;
  flex-shrink: 0
}

.NavBar__logo {
  height: 38px;
  align-self: center
}

.NavBar--is-centered {
  justify-content: center
}

.NavBar__account {
  display: flex;
  flex-direction: column;
  align-items: flex-end
}

.NavBar__wallet {
  display: flex;
  flex-direction: row;
  align-items: center
}

.NavBar__wallet-title {
  font-size: 14px;
  font-weight: 400;
  color: #8a8fb5;
  margin-right: 6px
}

.NavBar__wallet-address {
  font-size: 14px;
  font-weight: 400;
  color: #fff
}

.NavBar__wallet-copy-address-icon {
  cursor: pointer;
  margin-left: 6px;
  margin-top: 2px
}

.NavBar__wallet-copy-address-icon img {
  height: 19px
}

.NavBar__logout {
  color: #8a8fb5;
  margin-top: 6px;
  cursor: pointer;
  -webkit-transition: opacity, .2s, ease-in-out;
  transition: opacity, .2s, ease-in-out
}

.NavBar__network-badge {
  position: relative;
  line-height: 12px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 2px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  background: #29b3eb;
  background: -webkit-gradient(linear, left top, right top, from(#29b3eb), to(#21edba));
  background: linear-gradient(90deg, #29b3eb 0, #21edba);
  background-size: 100%;
  color: #1c243b;
  padding: 3px 22px 0 11px;
  height: 18px;
  box-sizing: border-box
}

.NavBar__network-badge:after {
  display: block;
  content: "";
  width: 9px;
  height: 5px;
  background: transparent url(/img/icons/dropdown-arrow@2x.png) no-repeat;
  background-size: 9px 5px;
  position: absolute;
  right: 7px;
  top: 6px
}

.NavBar__network-badge:hover {
  background: #21edba
}

.NavBar__network-badge.NavBar__network-badge--is-disabled {
  cursor: not-allowed;
  pointer-events: none;
  background: #1c243b;
  padding-left: 11px;
  padding-right: 11px;
  color: #8a8fb5
}

.NavBar__network-badge.NavBar__network-badge--is-disabled:after {
  display: none
}

.TabBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 70px;
  background-color: #242b45;
  padding-left: 29px;
  padding-right: 29px
}

.TabBar--is-centered {
  justify-content: center;
  padding-left: 0;
  padding-right: 0
}

.TabBar--is-centered .TabBarItem {
  margin-left: 25px;
  margin-right: 25px
}

.TabBar--is-condensed .TabBarItem__title {
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #92a2d6
}

.TabBar--is-condensed .TabBarItem {
  margin-left: 16px;
  margin-right: 16px
}

.TabBarItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 70px;
  margin-right: 50px;
  cursor: pointer;
  text-decoration: none
}

.TabBarItem__icon, .TabBarItem__icon-active {
  width: 22px;
  height: 22px;
  margin-right: 8px;
}

.TabBarItem__icon-active {
  display: none
}

.TabBarItem__title {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: #8a8fb5;
  -webkit-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
  cursor: pointer;
  margin-top: 2px
}

.TabBarItem--is-active .TabBarItem__title, .TabBarItem:hover .TabBarItem__title {
  color: #fff
}

.TabBarItem--is-active .TabBarItem__icon-active {
  display: inline-block
}

.TabBarItem--is-active .TabBarItem__icon {
  display: none
}

.Pages {
  display: flex;
  flex: 1 1
}

.Pages--wallet {
  margin-top: 15px;
  height: 100%;
  overflow-y: hidden
}

.WalletPage {
  display: flex;
  flex-direction: row;
  flex: 1 1;
  height: 100%
}

.WalletPage__master-view {
  width: 362px
}

.WalletPage__detail-view {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  background-color: #242b45;
  padding-left: 32px;
  padding-right: 32px;
  overflow-y: auto;
  position: relative
}

.WalletPage__detail-view-spinner {
  align-self: center;
  margin-top: 15px;
  margin-bottom: 15px;
  flex-shrink: 0
}

.WalletPage__header-buttons {
  display: flex;
  flex-direction: row;
  flex: 1 1;
  justify-content: flex-end;
  margin-left: 12px
}

@media only screen and (max-width:1000px) {
  .WalletPage__master-view {
    width: 300px
  }
}

.WalletTokenList__ethereum-balances-toggle {
  display: block;
  margin-top: 12px;
  color: #fff;
  margin-left: 21px;
  font-size: 13px;
  cursor: pointer
}

.WalletTokenList__ethereum-balances-warning {
  display: block;
  margin-top: 12px;
  margin-left: 21px;
  font-size: 13px;
  color: #ed1e5c;
  max-width: 290px
}

.WalletTokenListItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 110px;
  padding-left: 22px;
  padding-right: 22px;
  border-bottom: 1px solid rgba(75, 81, 110, .5);
  cursor: pointer;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  text-decoration: none;
  position: relative
}

.WalletTokenListItem__active-indicator {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 2px;
  background: #1bded0;
  background: -webkit-gradient(linear, left bottom, left top, from(#22abe3), to(#1bded0));
  background: linear-gradient(0deg, #22abe3 0, #1bded0);
  background-size: 100%;
  display: none
}

.WalletTokenListItem__token-container {
  display: flex;
  flex-direction: row
}

.WalletTokenListItem__token-balance-container {
  display: flex;
  flex-direction: column
}

.WalletTokenListItem__token-icon {
  width: 40px;
  height: 40px;
  margin-right: 17px
}

.WalletTokenListItem__token-name {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  color: #92a2d6;
  text-decoration: none
}

.WalletTokenListItem__token-balance {
  font-size: 19px;
  font-weight: 400;
  line-height: 21px;
  color: #fff;
  text-decoration: none
}

.WalletTokenListItem__action-buttons {
  display: flex;
  flex-direction: row;
  margin-left: 58px;
  margin-top: 20px
}

.WalletTokenListItem__action-buttons .GhostButton:first-child {
  margin-right: 12px
}

.WalletTokenListItem--is-active, .WalletTokenListItem:hover {
  background-color: #242b45
}

.WalletTokenListItem--is-active .WalletTokenListItem__active-indicator {
  display: block
}

.PageHeader {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #3b4263
}

.PageHeader__title {
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  text-transform: uppercase;
  color: #565d8a;
  letter-spacing: 1.5px
}

.PageHeader--is-sticky {
  top: 0;
  position: relative;
  position: -webkit-sticky;
  position: sticky;
  background-color: #242b45
}

.EthereumTransactionListItem, .TransactionList {
  display: flex;
  flex-direction: column
}

.EthereumTransactionListItem {
  border-bottom: 1px solid #4b516e;
  padding-top: 15px;
  padding-bottom: 15px;
  min-height: 102px;
  cursor: pointer;
  padding-right: 10px;
  -webkit-transition: background-color, .3s, ease-in-out;
  transition: background-color, .3s, ease-in-out
}

.EthereumTransactionListItem * {
  cursor: pointer
}

.EthereumTransactionListItem:hover {
  background-color: rgba(0, 0, 0, .05)
}

.EthereumTransactionListItem__top-container {
  display: flex;
  flex: 1 1;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 22px
}

.EthereumTransactionListItem__middle-container {
  display: flex;
  flex: 2 1;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px
}

.EthereumTransactionListItem__bottom-container {
  justify-content: space-between;
  width: 100%;
  height: 22px
}

.EthereumTransactionListItem__address-container, .EthereumTransactionListItem__bottom-container {
  display: flex;
  flex: 1 1;
  flex-direction: row;
  align-items: center
}

.EthereumTransactionListItem__address-prefix {
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  color: #92a2d6;
  margin-right: 5px;
  height: 16px
}

.EthereumTransactionListItem__address {
  font-size: 18px;
  font-weight: 100;
  line-height: 18px;
  color: #fff;
  height: 18px;
  padding-right: 5px;
  text-overflow: ellipsis
}

.EthereumTransactionListItem__amount-container {
  display: flex;
  flex-direction: row;
  align-items: center
}

.EthereumTransactionListItem__amount {
  font-size: 28px;
  font-weight: 100;
  line-height: 28px;
  height: 28px;
  color: #fff;
  text-align: right;
  margin-left: 15px
}

.EthereumTransactionListItem__date {
  font-size: 14px;
  font-weight: 300;
  line-height: 14px;
  color: #7a88b5;
  height: 14px
}

.EthereumTransactionListItem__token-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 19px
}

.EthereumTransactionListItem__token-symbol {
  font-size: 15px;
  font-weight: 300;
  line-height: 15px;
  color: #92a2d6;
  height: 15px
}

.EthereumTransactionListItem__token-icon {
  height: 18px;
  width: 18px;
  margin-left: 5px
}

@media only screen and (max-width:1000px) {
  .EthereumTransactionListItem__amount {
    font-size: 20px
  }
}

.TransactionStatus {
  display: flex;
  flex-direction: row;
  align-items: center
}

.TransactionStatus__dot {
  height: 10px;
  width: 10px;
  border-radius: 5px;
  background-color: #92a2d6;
  margin-right: 6px
}

.TransactionStatus__text {
  font-size: 13px;
  font-weight: 600;
  line-height: 13px;
  height: 10px;
  color: #92a2d6;
  text-transform: uppercase
}

.TransactionStatus--is-inbound .TransactionStatus__dot {
  background-color: #10edbd
}

.TransactionStatus--is-inbound .TransactionStatus__text {
  color: #10edbd
}

.ERC20Badge {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #576991;
  height: 16px;
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 1px
}

.ERC20Badge__text {
  font-size: 12px;
  line-height: 12px;
  font-weight: 700;
  color: #1c243b;
  text-transform: uppercase;
  margin-top: 2px
}

.ThetaTransactionListItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #4b516e;
  padding-top: 15px;
  padding-bottom: 15px;
  min-height: 102px;
  cursor: pointer;
  padding-right: 10px;
  -webkit-transition: background-color, .3s, ease-in-out;
  transition: background-color, .3s, ease-in-out
}

.ThetaTransactionListItem__left-container {
  display: flex;
  flex-direction: column;
  flex: 1 1
}

.ThetaTransactionListItem__right-container {
  display: flex;
  flex-direction: column
}

.ThetaTransactionListItem * {
  cursor: pointer
}

.ThetaTransactionListItem:hover {
  background-color: rgba(0, 0, 0, .05)
}

.ThetaTransactionListItem__top-container {
  display: flex;
  flex: 1 1;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 22px
}

.ThetaTransactionListItem__middle-container {
  display: flex;
  flex: 2 1;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px
}

.ThetaTransactionListItem__bottom-container {
  justify-content: space-between;
  width: 100%;
  height: 22px
}

.ThetaTransactionListItem__address-container, .ThetaTransactionListItem__bottom-container {
  display: flex;
  flex: 1 1;
  flex-direction: row;
  align-items: center
}

.ThetaTransactionListItem__address-prefix {
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  color: #92a2d6;
  margin-right: 5px;
  height: 16px
}

.ThetaTransactionListItem__address {
  font-size: 18px;
  font-weight: 100;
  line-height: 18px;
  color: #fff;
  height: 18px;
  padding-right: 5px;
  text-overflow: ellipsis
}

.ThetaTransactionListItem__amount-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 15px
}

.ThetaTransactionListItem__amount {
  font-size: 28px;
  font-weight: 100;
  line-height: 28px;
  height: 28px;
  color: #fff;
  text-align: right
}

.ThetaTransactionListItem__amount-icon {
  height: 20px;
  margin-left: 6px
}

.ThetaTransactionListItem__date {
  font-size: 14px;
  font-weight: 300;
  line-height: 14px;
  color: #7a88b5;
  height: 14px
}

.ThetaTransactionListItem__token-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 19px
}

.ThetaTransactionListItem__token-symbol {
  font-size: 15px;
  font-weight: 300;
  line-height: 15px;
  color: #92a2d6;
  height: 15px
}

.ThetaTransactionListItem__token-icon {
  height: 18px;
  width: 18px;
  margin-left: 5px
}

@media only screen and (max-width:1000px) {
  .ThetaTransactionListItem__amount {
    font-size: 20px
  }
}

.EmptyState {
  display: flex;
  flex-direction: column;
  padding: 30px 15px;
  align-self: center;
  align-items: center;
  justify-content: center;
  flex: 1 1
}

.EmptyState__icon {
  width: 80px;
  height: 80px;
  align-self: center
}

.EmptyState__title {
  font-size: 21px;
  color: #404c6e;
  text-align: center;
  margin-top: 8px
}

.GhostButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40px;
  border: 1px solid #687399;
  border-radius: 4px;
  padding-left: 16px;
  padding-right: 16px;
  cursor: pointer;
  box-sizing: border-box
}

.GhostButton:hover {
  background-color: rgba(0, 0, 0, .05)
}

.GhostButton__icon {
  height: 22px;
  margin-right: 8px
}

.GhostButton__title {
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  cursor: pointer
}

.GhostButton__spinner {
  margin-left: auto;
  margin-right: auto
}

.GhostButton--is-disabled {
  cursor: not-allowed;
  pointer-events: none
}

.SettingsPage {
  display: flex;
  flex-direction: row;
  flex: 1 1
}

.SettingsPage__detail-view {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  background-color: #242b45;
  padding-left: 32px;
  padding-right: 32px;
  overflow-y: auto;
  position: relative
}

.SettingsSection {
  display: flex;
  flex-direction: column;
  margin-top: 20px
}

.SettingsSection__title {
  font-size: 24px;
  font-weight: 100;
  color: #fff;
  margin-bottom: 15px
}

.SettingsSection__content {
  max-width: 400px
}

.InputTitle {
  font-size: 16px;
  font-weight: 400;
  color: #7a88b5;
  margin-bottom: 6px
}

.GradientButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 50px;
  border-radius: 4px;
  padding-left: 16px;
  padding-right: 16px;
  cursor: pointer;
  text-decoration: none;
  background: #29b3eb;
  background: -webkit-gradient(linear, left top, right top, from(#29b3eb), to(#21edba));
  background: linear-gradient(90deg, #29b3eb 0, #21edba);
  background-size: 100%;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.GradientButton:hover {
  box-shadow: 0 0 25px rgba(33, 237, 186, .5)
}

.GradientButton:active {
  box-shadow: 0 0 25px rgba(33, 237, 186, .25)
}

.GradientButton--is-disabled {
  background: #404c6e !important;
  box-shadow: none !important;
  cursor: not-allowed;
  pointer-events: none
}

.GradientButton__title {
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  cursor: inherit;
  text-decoration: none
}

.OnboardingPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1 1
}

.OnboardingPage__wrapper {
  display: flex;
  flex-direction: column;
  max-width: 560px;
  height: 550px
}

.OnboardingPage__image {
  height: 360px
}

.OnboardingPage__title {
  color: #92a2d6;
  margin-bottom: 6px
}

.OnboardingPage__description, .OnboardingPage__title {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: center;
  width: 100%;
  max-width: 340px;
  margin-left: auto;
  margin-right: auto
}

.OnboardingPage__description {
  color: #fff
}

.OnboardingPage__footer {
  margin-top: auto;
  height: 75px
}

.OnboardingPage__footer, .OnboardingPage__restore-button {
  width: 100%;
  max-width: 340px;
  margin-left: auto;
  margin-right: auto
}

.OnboardingPage__restore-button {
  display: block;
  margin-top: 18px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  font-weight: 400
}

.CreateWalletPage {
  display: flex;
  flex-direction: column;
  align-items: center; //justify-content:center;flex:1 1}.CreateWalletPage__wrapper{display:flex;flex-direction:column;max-width:430px;width:100%;height:550px}.CreateWalletPage__title{font-size:24px;font-weight:300;text-align:center;line-height:28px;min-height:28px;color:#fff;margin-bottom:10px}.CreateWalletPage__subtitle{font-size:16px;font-weight:400;text-align:center;color:#8a8fb5;
